<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6" size-lg="6">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                  <ion-icon name="key" color="secondary"></ion-icon>
                Login
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <form [formGroup]="loginForm" autocomplete="off">
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <div class="error-message">
                  {{formError.email}}
                </div>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
                  <div class="error-message">
                      {{formError.password}}
                    </div>
                  <ion-button color="secondary" expand="block" class="ion-margin-top" [disabled]="loginForm.invalid"
                  (click)="loginWithEmailPassword()">Login
                      <ion-spinner name="dots" *ngIf="showLoginSpinner"></ion-spinner>
                  </ion-button>
                  <ion-button color="light" expand="block" class="ion-margin-top" (click)="goToSignup()">SignUp</ion-button>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
